# files and folders to ignore
**/__pycache__/
*.pyc
*.log
.env
notebooks/
tests/
docs/
scripts/
interface/frontend/node_modules/
**/*.wav
**/*.mp4
**/*.webm
**/uploads/
**/env/
**/venv/
!interface/backend/venv/src/hailo-apps/scripts/hailo_python_installation.sh
!interface/backend/venv/src/hailo-apps/scripts/
!interface/backend/venv/src/hailo-apps/
screen/
README_docker.md
README_merge_request.md
README.md
TODO.md
**/.gitignore
demo_modeles
**/README.md
