# ---------------------
# Python
# ---------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Environnements virtuels
env/
venv/
.venv/

# ---------------------
# Audio / modèles STT
# ---------------------
audio/*.wav
audio/*.mp3
tmp_asr/
vosk-model-small-*
vosk-model-*
whisper-tiny/
whisper-base/
*.zip

# ---------------------
# Jupyter / Notebooks
# ---------------------
.ipynb_checkpoints/

# ---------------------
# System / OS files
# ---------------------
.DS_Store
Thumbs.db
*.swp

# ---------------------
# Results / logs
# ---------------------
results.txt


# ==========================
# Ignorer toutes les virtualenv
# ==========================
venv/
.venv/
env/
ENV/
*/venv/
*/.venv/
*/env/
*/ENV/

# Pour les venv avec nom personnalisé (ex : venv_hailo_rpi_examples)
*venv*/
*env*/

# ==========================
# Fichiers Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# ==========================
# OS & IDE
# ==========================
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# ==========================
# Environnements
# ==========================
*.env
.env*
