services:
  backend:
    build: 
      context: ./
      dockerfile: ./interface/backend/Dockerfile
    container_name: backend
    privileged: true             
    devices:
      - /dev/hailo0:/dev/hailo0 
      - /dev/video0:/dev/video0 
    ports:
      - "8000:8000"
    volumes:
      - /usr/local/bin/joularcore:/usr/local/bin/joularcore:ro
      - ./interface/backend:/app/interface/backend
      - ./interface/backend/outputs:/app/interface/backend/outputs

  frontend:
    build: ./interface/frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./interface/frontend:/app
      - /app/node_modules 
      
    environment:
      - VITE_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
